<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multiplechoice.backend.service.PagesMapper">
  <resultMap id="BaseResultMap" type="com.multiplechoice.backend.entities.Pages">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="date_available" jdbcType="TIMESTAMP" property="dateAvailable" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="viewed" jdbcType="INTEGER" property="viewed" />
    <result column="date_added" jdbcType="TIMESTAMP" property="dateAdded" />
    <result column="date_modified" jdbcType="TIMESTAMP" property="dateModified" />
    <result column="meta_title" jdbcType="VARCHAR" property="metaTitle" />
    <result column="meta_description" jdbcType="VARCHAR" property="metaDescription" />
    <result column="meta_keyword" jdbcType="VARCHAR" property="metaKeyword" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.multiplechoice.backend.entities.Pages">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, image, title, date_available, status, viewed, date_added, date_modified, meta_title, 
    meta_description, meta_keyword
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from it_pages
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from it_pages
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.multiplechoice.backend.entities.Pages">
    insert into it_pages (id, image, title, 
      date_available, status, viewed, 
      date_added, date_modified, meta_title, 
      meta_description, meta_keyword, description
      )
    values (#{id,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{dateAvailable,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT}, #{viewed,jdbcType=INTEGER}, 
      #{dateAdded,jdbcType=TIMESTAMP}, #{dateModified,jdbcType=TIMESTAMP}, #{metaTitle,jdbcType=VARCHAR}, 
      #{metaDescription,jdbcType=VARCHAR}, #{metaKeyword,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.multiplechoice.backend.entities.Pages">
    insert into it_pages
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="dateAvailable != null">
        date_available,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="viewed != null">
        viewed,
      </if>
      <if test="dateAdded != null">
        date_added,
      </if>
      <if test="dateModified != null">
        date_modified,
      </if>
      <if test="metaTitle != null">
        meta_title,
      </if>
      <if test="metaDescription != null">
        meta_description,
      </if>
      <if test="metaKeyword != null">
        meta_keyword,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="dateAvailable != null">
        #{dateAvailable,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="viewed != null">
        #{viewed,jdbcType=INTEGER},
      </if>
      <if test="dateAdded != null">
        #{dateAdded,jdbcType=TIMESTAMP},
      </if>
      <if test="dateModified != null">
        #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="metaTitle != null">
        #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null">
        #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="metaKeyword != null">
        #{metaKeyword,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.multiplechoice.backend.entities.Pages">
    update it_pages
    <set>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="dateAvailable != null">
        date_available = #{dateAvailable,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="viewed != null">
        viewed = #{viewed,jdbcType=INTEGER},
      </if>
      <if test="dateAdded != null">
        date_added = #{dateAdded,jdbcType=TIMESTAMP},
      </if>
      <if test="dateModified != null">
        date_modified = #{dateModified,jdbcType=TIMESTAMP},
      </if>
      <if test="metaTitle != null">
        meta_title = #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null">
        meta_description = #{metaDescription,jdbcType=VARCHAR},
      </if>
      <if test="metaKeyword != null">
        meta_keyword = #{metaKeyword,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.multiplechoice.backend.entities.Pages">
    update it_pages
    set image = #{image,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      date_available = #{dateAvailable,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT},
      viewed = #{viewed,jdbcType=INTEGER},
      date_added = #{dateAdded,jdbcType=TIMESTAMP},
      date_modified = #{dateModified,jdbcType=TIMESTAMP},
      meta_title = #{metaTitle,jdbcType=VARCHAR},
      meta_description = #{metaDescription,jdbcType=VARCHAR},
      meta_keyword = #{metaKeyword,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.multiplechoice.backend.entities.Pages">
    update it_pages
    set image = #{image,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      date_available = #{dateAvailable,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT},
      viewed = #{viewed,jdbcType=INTEGER},
      date_added = #{dateAdded,jdbcType=TIMESTAMP},
      date_modified = #{dateModified,jdbcType=TIMESTAMP},
      meta_title = #{metaTitle,jdbcType=VARCHAR},
      meta_description = #{metaDescription,jdbcType=VARCHAR},
      meta_keyword = #{metaKeyword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>